{% load static %}
<!DOCTYPE html>
<html lang="en" dir="ltr">
  
<head>
  <meta charset="utf-8">
  <link rel="stylesheet" type="text/css" href="{% static 'styles.css' %}">

  <title>Smart Farm</title> 
  <!-- jQuery library -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.min.js"></script>

</head>

<body>
  <div class="container">
    <header class="header">
      <h1>Dashboard</h1>
    </header>
    <main class="content">
      <div class="left">
        <h2>Sean Wilbert</h2>
        <p>202000286</p>
        
        <table>
          <h3>Sensor Log</h3>
          <thead>
            <tr>
              <th>Timestamp</th>
              <th>Sensor Type</th>
              <th>Value</th>
            </tr>
          </thead>
          <tbody id="sensorLogTableBody">
            <!-- Data sensor log akan ditambahkan oleh JavaScript -->
          </tbody>
        </table>
      </div>     
      <div class="right">
        <div class="column">
          
        </div>
        <div class="column1">
          <h2>Soil Moisture Sensor</h2>
          <p><span id="SoilMoistureSensor"></span>%</p>
          <canvas id="SoilMoistureSensorChart"></canvas>
        </div>
        <div class="column1">
          <h2>Air Temperature Sensor</h2>
          <p><span id="AirTemperatureSensor"></span>&#176;C</p>
          <canvas id="AirTemperatureSensorChart"></canvas>
        </div>
        <div class="column1">
          <h2>Light Intensity Sensor</h2>
          <p><span id="LightIntensitySensor"></span> lux</p>
          <canvas id="LightIntensitySensorChart"></canvas>
        </div>
        <div class="column1">
          <h2>Automatic Irrigation</h2>
          <p><span id="AutomaticIrrigationState"></span> minute</p>
          <canvas id="AutomaticIrrigationChart"></canvas>
        </div>
      </div>
    </main>
    <footer class="footer">
      <p>&copy; 2023 Your Company. All rights reserved.</p>
    </footer>
  </div>

  <script src="{% static 'js.js' %}"></script>

</body>
